# Node modules
node_modules/

# Output folders
dist/
out-tsc/
.angular/

# IDE settings
.idea/
.vscode/

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Compiled files
*.js
*.map

# Angular cache
.angular/cache/
